body {
    background-color: tomato;
    text-align: center;
    font-family: "Lucida Console";
}

h1 {
    font-size: 12ch;
    color: white; 
    
}

#partyTimeButton {
    background-color: #222;
    width: 300px;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 20px;
}

#message {
    font: 2em/1em 'Open Sans', sans-serif;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px #000;
    margin: -80px 0 100px 0;
    color: #fff;
    position: absolute;
    top: 42ch;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lolcatImage {
    max-width:30em
}

